<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bookers</title>
</head>

<body>
  <h1>ようこそ <strong>Bookers</strong> へ！</h1>
  <div class="box1">
    <p><strong>Bookers</strong> では、様々な書籍に関するあなたの意見や</p>
    <p>印象を共有し交換することができます</p>
    <a href="/books">start</a>
  </div>
</body>

</html>